*.iml
*.ipr
*.iws
*.crt
*.hcl
*.key
.classpath
.idea
.project
.settings
.checkstyle
bin
build
out
target
pom.xml.releaseBackup
release.properties
.flattened-pom.xml

# Folder for setup & test
/vault/
download/
work/

node
node_modules
package.json
package-lock.json
