language: java

jdk:
  - oraclejdk8

sudo: false

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - libssl1.0.0

env:
  matrix:
    - VAULT_VER=0.5.2
    - VAULT_VER=0.6.0
    - VAULT_VER=0.6.1
    - VAULT_VER=0.6.2
    - VAULT_VER=0.6.3
    - VAULT_VER=0.6.4
    - VAULT_VER=0.6.5
    - VAULT_VER=0.7.2
    - VAULT_VER=0.7.3
    - PROFILE=springNext

before_install:
  - test ! -f ~/.m2/settings.xml || rm ~/.m2/settings.xml

install:
  - src/test/bash/start.sh

script: ./mvnw clean verify -P${PROFILE:-ci}

after_script:
  - pkill vault

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.m2/wrapper'
    - 'download'
