name: CI Build

on:
  push:
    branches: [ actions, main, 3.2.x, 3.1.x ]

permissions: read-all

jobs:
  build:
    strategy:
      matrix:
        java-version: [ 'main', 'next' ]
    name: Build project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache Vault
        uses: actions/cache@v5.0.1
        with:
          path: |
            download
            vault
          key: ${{ runner.os }}-vault-${{ hashFiles('src/test/bash/**') }}
      - name: Install and Start Vault
        run:  src/test/bash/start.sh
      - name: Setup Java and Maven
        uses: mp911de/some-actions/setup-maven@main
        with:
          java-version: ${{ matrix.java-version }}
          develocity-access-key: '${{ secrets.DEVELOCITY_ACCESS_KEY }}'
      - name: Build
        run: ./mvnw -B -U clean verify
      - name: Test Summary
        uses: test-summary/action@v2.2
        with:
          paths: '**/TEST-*.xml'
        if: always()
