name: CI Build

on:
  push:
    branches: [ main, 4.0.x, 3.2.x, 3.1.x, 'issue/**' ]

permissions: read-all

jobs:
  build-java:
    strategy:
      matrix:
        java-version: [ 'base' ]
    name: Build project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Java and Maven
        uses: spring-projects/spring-data-release/actions/setup-maven@main
        with:
          java-version: '${{ matrix.java-version }}'
          develocity-access-key: '${{ secrets.DEVELOCITY_ACCESS_KEY }}'
      - name: Cache Vault
        uses: actions/cache@v5.0.2
        with:
          path: |
            download
            vault
          key: ${{ runner.os }}-vault-${{ hashFiles('src/test/bash/**') }}
      - name: Install and Start Vault
        run:  src/test/bash/start.sh
      - name: Build
        run: ./mvnw -B -U clean verify
      - name: Test Summary
        uses: test-summary/action@v2.2
        with:
          paths: '**/TEST-*.xml'
        if: always()
