name: Build and deploy snapshots

on:
  push:
    branches: [ main, 4.0.x, 3.2.x, 3.1.x, 'issue/**' ]

permissions: read-all

jobs:
  build:
    name: Build and deploy snapshots
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Java and Maven
        uses: spring-projects/spring-data-release/actions/setup-maven@main
        with:
          java-version: 'base'
          develocity-access-key: '${{ secrets.DEVELOCITY_ACCESS_KEY }}'
      - name: Cache Vault
        uses: actions/cache@v5.0.2
        with:
          path: |
            download
            vault
          key: ${{ runner.os }}-vault-${{ hashFiles('src/test/bash/**') }}
      - name: Install and Start Vault
        run:  src/test/bash/start.sh
      - name: Capture version
        run: |
          echo "PROJECT_VERSION=$(./ci/get-version.sh)" >> $GITHUB_ENV
      - name: Deploy to Artifactory
        if: ${{ github.repository_owner == 'spring-projects' && contains(env.PROJECT_VERSION, '-SNAPSHOT') }}
        uses: spring-projects/spring-data-release/actions/maven-artifactory-deploy@main
        with:
          build-name: 'spring-vault'
          skip-tests: 'false'
          username: '${{ secrets.ARTIFACTORY_USERNAME }}'
          password: '${{ secrets.ARTIFACTORY_PASSWORD }}'
      - name: Test Summary
        uses: test-summary/action@v2.2
        with:
          paths: '**/TEST-*.xml'
        if: always()
